body{
    margin: 0;
    font-family: "DM Serif Text", serif;
    background: url(https://wallpapercave.com/wp/wp12128326.jpg) no-repeat fixed center;
}
.portada{
    width: 45px;
    height: 45px;
}
.foto{
    width: 85%;
}
.imagen{
    margin: 7%;
    justify-content: center;
    text-align: center;
}